*{
  box-sizing: border-box;
  
  
}

body{
  background-color: #ffffff;
  margin: 0px;
  font-family: sans-serif;
  font-weight: 100;
}

.banner{
 background-color: #d93939;
 padding: 20px;
}

#banner-text{
 margin: 0;
 font-size: 20px;
 text-align: center;
 color: white;
 font-weight: 300;
}

.nav-top{
  padding: 15px;
  background-color: #343434 ;
  color: white;
  text-align: center;
  white-space:8px ;
  margin-bottom: 5%;
}

.nav-top>a{
  margin-right: 50px;
  text-decoration: none;
}

h1{
  padding: 20px 20px 0px 20px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 35px; 
  font-weight: 200;
  

}

.header-content{
  align-items: left;
  padding: 0% 10% 15% 18%;
  width: 50%;
}

.header-container{
  display: flex;
}

.header-container>img{
  margin: 0%;
  
  align-items:center;
  max-width: 325px;
  height: 660px;

}

#header-text{
  line-height: 2;
  font-size: 17.88px;
}

#header-text>a{
  text-decoration: none;
  color: rgb(114, 160, 202);
}



.footer-content{  
  background-color:#343434 ;
  color: white;
  height: 30vh;
     
}

.footer-container{
  display: flex;    
  flex-direction: row;
  justify-content: center;
}

#footer-text>p{
  font-size: 30px;    
}

#footer-text{
  margin-right: 15%;
}

li>a{
  text-decoration: none;
  color: #b6b5b5;
}

li{
  list-style: none;
  text-align: left;    
}

.copyright{
  text-align: center;
  font-size: 10px;
}


@media(max-width:810px){
  .header-container{
    display: flex;
    flex-direction: column;
    justify-content:center;    
    align-items: center;
    
  }

  #banner-text{
    font-size: 19px;
  }

  .header-content{
    padding: 0% 0% 0% 0% ;   
    text-align: justify;
    width: 100%;
  }

  h1{
    font-size: 55px;
  }

  #header-text{
    font-size: 17.5px;
    margin-bottom: 0%;

  }
  
  .banner{
    padding: 45px;
  }

  .nav-top{
    margin-bottom: 0%;
  }

  #weather-img{
    height: 650px;
    margin-bottom: 8%;
  }

  .footer-content{
    height: 280px;
  }

  #footer-text{
    margin: 6% 20% 6% 6%;
    
  }

  .link-nav{
    margin-top: 5%;
    margin-right: 6%;
  }


}